<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush ="true" indentsize="4" />
    <switches>
      <add name="devteamSwitch" value ="4" /> <!-- Concerne le flux destine a l equipe de dev -->
      <add name="prodSwitch" value="1"/> <!-- Concerne le flux destine a la production -->
    </switches>
  </system.diagnostics>
</configuration>